name: "Run Benchmarks"

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    paths:
      - '.github/workflows/benchmark*.yml'
      - 'Cargo.toml'
      - 'benches/**'
      - 'src/**'

jobs:
  benchmark_fork_pr_branch:
    if: "github.event.pull_request.head.repo.full_name != github.repository"
    name: Run Fork PR Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Rust
        uses: dtolnay/rust-toolchain@0f44b27771c32bda9f458f75a1e241b09791b331 # stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Rust Cache
        uses: swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0

      - uses: bencherdev/bencher@main

      - name: Track base branch benchmarks with Bencher
        run: |
          cargo bench --features bench_internals > benchmark_results.log

      - name: Upload Benchmark Results
        uses: actions/upload-artifact@v5
        with:
          name: benchmark_results.log
          path: ./benchmark_results.log

      - name: Upload GitHub Pull Request Event
        uses: actions/upload-artifact@v5
        with:
          name: event.json
          path: ${{ github.event_path }}
